<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>


<mat-form-field>
  <input name="editTitle" [(ngModel)]="note.title"  matInput placeholder="Title" type="text" required />
</mat-form-field>
<mat-form-field>
  <textarea name="editText" [(ngModel)]="note.text" matInput placeholder="Text" required></textarea>
</mat-form-field>
<mat-form-field>
<mat-select name="editStatus" placeholder="Select state" [(ngModel)]="note.state">
  <mat-option *ngFor="let state of states" [value]="state">
    {{ state }}
  </mat-option>
</mat-select>
</mat-form-field>
<div class="keep-c-done-wrapper">
  <button mat-raised-button color="primary"  (click)="onSave()">Save</button>
</div>
