/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 body {
   margin: 0;
 }
 .add-note-container, .login-container {
  display: flex;
  width: 400px;
  justify-content: center;
  margin: 30px auto;
}
.add-note-container .mat-accordion,
.add-note-container .mat-input-container,
.login-container .mat-input-container,
.login-container .mat-accordion,
.login-card.mat-card {
  width: 100%;
}
.mat-card {
  background: #f5f5f5;
}
.mat-card-title {
  font-weight: bold;
}
.note-card {
  width: 400px;
  margin-top: 20px;
}
.error-message {
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.keep-c-note-container,
.keep-c-list-container .listContainer {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
}

.mat-toolbar {
  background: #3f51b5;
  color: #fff;
}

.mat-expansion-panel-header-title {
  padding: 10px 0;
  font-size: 22px;
}
.login-container .mat-card-header {
  justify-content: center;
}
.login-container .mat-card-title {
  font-size: 22px;
}
.login-card.mat-card {
  background: #fff;
}

.login-container form {
  width: 100%;
}
.keep-c-list-container {
  padding: 10px;
}
.keep-c-list-container label {
  font-size: 24px;
  font-weight: bold;
}

.keep-c-note-container .ng-star-inserted,
.listContainer  .ng-star-inserted {
  width: calc(33.3% - 20px);
  padding: 10px;
}
